:root {
  --clr-timeline-red: #F61067;
  --clr-background: #000000;
  --clr-font-color: #F3DDB6;
  --clr-font-color-darker:#d6bf99;
  --heading-size: 5rem;
  --paragraph-size: 1.7rem;
  --header-size: 10rem;
  --top-gap: 5vh;
  --sizing: 62.5%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-device-width: 375px) {
  html {
    font-size: 30%;
  }
}

#myLogo {
  fill-opacity: 0;
  transition: fill-opacity 0.5s;
}

#myLogo.finished {
  fill-opacity: 1;
}

.svg-animation-logo {
  margin-top: 15%;
  margin-left: 30%;
}

#custom-cursor {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 30;
  transform: translate3d( -50%, -50%, 0);
  border-radius: 50%;
  background-color: var(--clr-font-color);
  cursor: none;
  pointer-events: none;
  mix-blend-mode: difference;
}

#cursor-content > svg {
  transform: translate(-50%, -50%);
}

/* Hide custom cursor on phone */
@media only screen and (max-device-width: 375px) {
  #custom-cursor {
    opacity: 0;
  }
}

.menu {
  position: fixed;
  z-index: 35;
  margin-left: 27%;
}

.menu-ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}


.link-menu {
  text-decoration: none;
  color: var(--clr-font-color);
  font-family: "KENOKY", sans-serif;
  font-size: 2rem;
}

/* Move menu to the bottom on phone */
@media only screen and (max-device-width: 375px) {
  .menu {
    margin-left: 3%;
    bottom: 5%;
  }
}

.underline-styling {
  background-image: linear-gradient(var(--clr-timeline-red), var(--clr-timeline-red));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.underline-styling:hover {
  background-size: 100% 3px;
}

#background{
  margin: 0 auto;
  margin-top: 2%;
  width: 73vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#background h1, #background p{
  font-family:'KENOKY', sans-serif;
  color: var(--clr-font-color);
}

#background p{
  font-size: var(--paragraph-size);
}

#background h1{
  font-size: var(--heading-size);
}

/* #region */
/* ================================================ Styling of about me ===================================== */

#about-me h1{
  position: relative;
  margin-left: 10vw;
  margin-top: var(--top-gap);
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: var(--header-size);
  font-style: normal;
}
#about-me p{
  position: relative;
  margin-top: 3vh;
  margin-left: 14vw;
  color: var(--clr-font-color-darker);
  font-family:'Inter', sans-serif;
  font-size: var(--paragraph-size);
  line-height: 2em;
}

#about-me-grid{
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

#characteristic p{
  color: var(--clr-font-color-darker);
  font-family:'Inter', sans-serif;
  margin: 5%;
  font-size: var(--paragraph-size);
  line-height: 2em;
}

/* 
#region 
*/

/* 
  spinning animation
  ==================
*/

#spinner{
  animation: spin 10s infinite linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* #endregion */

/* 
  #region
*/

/* Sizing of each card 
=================== */
#frontpage {
  width: 100vw;
  height: 100vh;
}

#about-me {
  width: 100vw;
  height: 100vh;
}

#skills {
  width: 100vw;
  height: 100vh;
}

#badges {
  width: 100vw;
  height: 100vh;
}

#contact-me {
  width: 100vw;
  height: 100vh;
}

#work-experience {
  width: 100vw;
  height: 100vh;
}

/*
  #endregion
*/

/* 
  #region
*/

/* 
  Color of each card 
  ===================
*/
#frontpage,#about-me, #skills, #badges, #contact-me, #work-experience{
  background-color: var(--clr-background);
}

/* 
  #endregion
*/

/* #endregion */


/* #region */
/* 
  ====================================================================Styling of work experience================================================================
*/
#work-experience > h2{
  position: relative;
  margin-left: 10vw;
  margin-top: var(--top-gap);
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: var(--header-size);
  font-style: normal;
}

.workplace{
  font-family: "Inter", sans-serif;
  color: var(--clr-font-color);
  margin-top: 5%;
  border-bottom: var(--clr-font-color) solid 1px;
}

.workplace .swiper.timelineSwiper .swiper-wrapper .swiper-slide > h3{
  font-size: 2rem;
  line-height: 5rem;
}

.workplace .swiper.timelineSwiper .swiper-wrapper .swiper-slide > p{
  font-size: var(--paragraph-size);
}

#work-experience ul {
  list-style-type: none;
  margin-left: 10vw;
  margin-right: 10vw;
}

.timeline{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.timeline > img{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3%;
  height: 2%;
}


/* #endregion */


/* #region */

/* 
  ====================================================Styling of projects============================= 
*/

#skills h1{
  margin-top: var(--top-gap);
  margin-left: 10vw;
  margin-bottom: 1rem;
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: var(--header-size);
  font-style: normal;
}

#all-projects{
  display: flex;
  margin: 0 auto;
  width: 80vw;
  gap: 6rem;
  flex-wrap: wrap;
  justify-content: space-between;
}


#all-projects a {
  text-decoration: none;
  color: var(--clr-font-color);
  width: 48%;
  border-bottom: var(--clr-font-color) 2px solid;
  padding: 1.8rem 0;
}

@media only screen and (max-device-width: 375px) {
  #all-projects {
    gap: 7.5rem;
  }
  #all-projects a {
    width: 100%;
  }
  .project-title p {
    font-size: 2rem;
  }
  .project-description p{
    font-size: 3rem;
  }
}

.project-title {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

.project-arrow{
  width: 10%;
}

.project-arrow > img {
  width: 100%;
  height: 100%;
}

.project-description {
  color: var(--clr-font-color);
  font-size: var(--paragraph-size);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}


/* #endregion */

/* #region */

/* 
  ==================================================== Styling Courses/Badges============================= 
*/


#badges-container {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: var(--top-gap);
  color: var(--clr-font-color);
  height: 50%;
}

#languages-technologies h1 {
  font-family: "KENOKY", sans-serif;
  font-size: var(--header-size);
  line-height: 2em;
}



#languages-technologies p {
  font-family: "Inter", sans-serif;
  font-size: var(--paragraph-size);
}

@media only screen and (max-device-width: 375px) {
  #languages-technologies h1 {
    font-size: 8rem;
  }
  #languages-technologies p {
    font-size: 2rem;
  }
}

.badges-certificates {
  display: flex;
  height: 100%;
}

.badges-certificates ul li a {
  text-decoration: none;
  color: var(--clr-font-color);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: var(--paragraph-size);
}

#all-badges, #all-certificates{
  margin-top: 5%;
  width: 50%;
}

#all-badges {
  border-left: solid 1px var(--clr-font-color);
  border-top: solid  1px var(--clr-font-color);
}


#all-badges > ul, #all-certificates > ul {
  list-style-type: none;
  padding: 2rem;
  line-height: 7rem;
  font-family: "Inter", sans-serif;
}

#all-badges > ul li, #all-certificates > ul li {
  font-size: var(--paragraph-size); 
}

#all-badges > h2, #all-certificates > h2 {
  margin-left: 50%;
  margin-top: 5%;
  font-family: "KENOKY", sans-serif;
  font-size: 3rem;
}

#all-certificates {
  border-right: solid 1px var(--clr-font-color);
  border-bottom: solid  1px var(--clr-font-color);
}

@media only screen and (max-device-width: 375px) {
  #languages-technologies h1 {
    font-size: 8rem;
  }
  #languages-technologies p {
    font-size: 2rem;
  }
  #all-badges > ul li, #all-certificates > ul li{
    font-size: 2.5rem;
  }
}

/* #endregion */

/* 
  #region 
*/

/* 
  ==================================================== Styling of Contact me ============================= 
*/

.contacting{
  display: flex;
  color: var(--clr-font-color);
  margin:0 auto;
  width: 80vw;
  height: 100vh;
  gap: 2rem;
}

#stopping-by, #contact-email{
  width: 50%;
  height: 50%;
}

#stopping-by h1{
  font-family: "KENOKY", sans-serif;
  font-size: var(--header-size);
  margin-top: 50%;
}

#social-media {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

#social-media a {
  text-decoration: none;
  color: var(--clr-font-color);
  font-size: 3rem;
  font-family: "Inter", sans-serif;
}

#contact-email {
  margin-top: 20%;
  display: flex;
  color: var(--clr-font-color);
  flex-direction: column;
  justify-content: space-around;
  font-size: var(--paragraph-size);
}

.email-styling {
  font-family: "KENOKY", sans-serif;
  border-bottom: var(--clr-font-color) 1px solid;
  margin-right: auto;
  font-size: var(--paragraph-size);
  padding: 2rem;
}


@media only screen and (max-device-width: 375px) {
  .contacting{
    flex-direction: column;
  }
  #stopping-by, #contact-email{
    width: 100%;
    height: 40%;
  }
  #contact-email{
    margin-top: 1%;
    font-size: 3rem;
    word-wrap: break-word;
  }
  .email-styling{
    font-size: 3rem;
  }
}

/* 
  #endregion 
*/

/* #region */

/* 
  ====================================================================Swiper js styling================================================================
*/

.swiper-pagination{
  background-color: transparent;
}

.swiper-button-next, .swiper-button-prev{
  color: white
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--clr-font-color, var(--clr-font-color)); 
}

/* Move progress bar to the bottom*/
.swiper-pagination-horizontal ,.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  top: 90vh;
  left: 10vw;
  right: 10vw;
}

/*
  #endregion
*/ 