
:root{
  --clr-scheme-pink: #ffc7c7;
  --clr-scheme-light-pink: #FFE2E2;
  --clr-scheme-white: #F6F6F6;
  --clr-scheme-mauvre: #8785A2;
  --clr-timeline-blue: #424874;
  --clr-timeline-red: #F61067;
  --clr-background: #000000;
  --clr-font-color: #F3DDB6;
  --clr-font-color-darker:#d6bf99;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}


#custom-cursor{
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 30;
  transform: translate3d( -50%, -50%, 0);
  border-radius: 50%;
  background-color: var(--clr-font-color);
  cursor: none;
  pointer-events: none;
  mix-blend-mode: difference;
}


#cursor-content > svg {
  transform: translate(-50%, -50%);
}

.underline-styling {
  background-image: linear-gradient(var(--clr-timeline-red), var(--clr-timeline-red));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.underline-styling:hover {
  background-size: 100% 3px;
}

#background{
  margin: 0 auto;
  margin-top: 2%;
  width: 73vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#background h2, #background p{
  font-family:'KENOKY', sans-serif;
  color: var(--clr-font-color);
}

#background p{
  font-size: 1rem;
}

#background h2{
  font-size: 3rem;
}

/* #region */
/* ================================================ Styling of about me ===================================== */

#about-me > h1{
  position: relative;
  margin-left: 10vw;
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: 10em;
  font-style: normal;
}
#about-me > p{
  position: relative;
  margin-top: 3vh;
  margin-left: 14vw;
  color: var(--clr-font-color-darker);
  font-family:'Inter', sans-serif;
  line-height: 2em;
}

#about-me-grid{
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

#characteristic > p{
  color: var(--clr-font-color-darker);
  font-family:'Inter', sans-serif;
  margin: 5%;
  font-size: 2em;
  line-height: 2em;
}

/* 
#region 
*/

/* 
  spinning animation
  ==================
*/

#spinner{
  animation: spin 10s infinite linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* #endregion */

/* 
  #region
*/

/* Sizing of each card 
=================== */
#frontpage{
  width: 100vw;
  height: 100vh;
}

#about-me{
  width: 100vw;
  height: 100vh;
}

#skills{
  width: 100vw;
  height: 100vh;
}

#badges{
  width: 100vw;
  height: 100vh;
}

#contact-me{
  width: 100vw;
  height: 100vh;
}

#work-experience{
  width: 100vw;
  height: 100vh;
}

/*
  #endregion
*/

/* 
  #region
*/

/* 
  Color of each card 
  ===================
*/
#frontpage,#about-me, #skills, #badges, #contact-me, #work-experience{
  background-color: var(--clr-background);
}

/* 
  #endregion
*/

/* #endregion */


/* #region */
/* 
  ====================================================================Styling of work experience================================================================
*/
#work-experience > h2{
  position: relative;
  margin-left: 10vw;
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: 6em;
  font-style: normal;
}

.workplace{
  font-family: "Inter", sans-serif;
  color: var(--clr-font-color);
  margin-top: 7%;
  border-bottom: var(--clr-font-color) solid 1px;
}

.workplace .swiper.timelineSwiper .swiper-wrapper .swiper-slide > h3{
  font-size: 2em;
  line-height: 5rem;
}

.workplace .swiper.timelineSwiper .swiper-wrapper .swiper-slide > p{
  font-size: 1em;
}

#work-experience > ul {
  list-style-type:none;
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
}

.timeline{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  
}

.timeline > img{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3%;
  height: 2%;
}


/* #endregion */


/* #region */

#skills > h1{
  margin-left: 10vw;
  margin-bottom: 1rem;
  color: var(--clr-font-color);
  font-family:'KENOKY', sans-serif;
  font-size: 6em;
  font-style: normal;
}

#all-projects{
  display: flex;
  margin:0 auto;
  width: 80vw;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

#all-projects > a{
  text-decoration: none;
  color: var(--clr-font-color);
  width: 48%;
  border-bottom: var(--clr-font-color) 2px solid;
  padding: 1.8rem 0;
}


.project-title {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.project-arrow{
  width: 10%;
}

.project-arrow > img {
  width: 100%;
  height: 100%;
}

.project-description {
  color: var(--clr-font-color);
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}


/* #endregion */

/* #region */

#badges-container {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1%;
  color: var(--clr-font-color);
  height: 50%;

}

#languages-technologies > h1{
  font-family: "KENOKY", sans-serif;
  font-size: 6em;
  line-height: 2em;
}

#languages-technologies > p{
  font-family: "Inter", sans-serif;
  
}

.badges-certificates{
  display: flex;
  height: 100%;

}

.badges-certificates ul li a {
  text-decoration: none;
  color: var(--clr-font-color);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2rem;
}

#all-badges, #all-certificates{
  margin-top: 5%;
  width: 50%;
}

#all-badges{
  border-left: solid 1px var(--clr-font-color);
  border-top: solid  1px var(--clr-font-color);
}


#all-badges > ul, #all-certificates > ul {
  list-style-type: none;
  padding: 2rem;
  line-height: 7rem;
  font-family: "Inter", sans-serif;
}

#all-badges > h2, #all-certificates > h2 {
  margin-left: 50%;
  margin-top: 5%;
  font-family: "KENOKY", sans-serif;
}

#all-certificates {
  border-right: solid 1px var(--clr-font-color);
  border-bottom: solid  1px var(--clr-font-color);
}




/* #endregion */

/* 
  #region 
*/

.contacting{
  display: flex;
  color: var(--clr-font-color);
  margin:0 auto;
  width: 80vw;
  height: 100vh;
  gap: 2rem;
}

#stopping-by, #contact-email{
  width: 50%;
  height: 50%;
}

#stopping-by > h1{
  font-family: "KENOKY", sans-serif;
  font-size: 7em;
  margin-top: 50%;
}

#social-media{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

#social-media > a{
  text-decoration: none;
  color: var(--clr-font-color);
  font-size: 3em;
  font-family: "Inter", sans-serif;
}

#contact-email{
  margin-top: 20%;
  display: flex;
  color: var(--clr-font-color);
  flex-direction: column;
  justify-content: space-around;
}

.email-styling{
  font-family: "KENOKY", sans-serif;
  border-bottom: var(--clr-font-color) 1px solid;
  margin-right: auto;
  padding: 1rem;
}
/* 
  #endregion 
*/



/* #region */

/* 
  ====================================================================Swiper js styling================================================================
*/

.swiper-pagination{
  background-color: transparent;
}

.swiper-button-next, .swiper-button-prev{
  color: white
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--clr-font-color, var(--clr-font-color)); 
}

/* Move progress bar */
.swiper-pagination-horizontal ,.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  top: 90vh;
  left: 10vw;
  right: 10vw;
}

/*
  #endregion
*/ 